body {
    background-color: black;
    width: 100%;
}

/* boxes styles */
.allBoxes {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    display: center;
    box-sizing: border-box;
}

.box1 {
    background-color: #212529;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 40px;
    border-color: #212529;
    max-width: 30rem;
    max-height: 12rem;
    z-index: -5;
    float: left;
}

.box2 {
    background-color: #212529;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    border-color: #212529;
    max-width: 30rem;
    max-height: 12rem;
    z-index: -5;
    left: 31.25rem;
    float: left;
}

.box3 {
    background-color: #212529;
    width: 100%;
    height: 100%; 
    max-width: 30rem;
    max-height: 7rem;
    position: absolute;
    border-radius: 40px;
    border-color: #212529;
    min-width: 20rem;
    min-height: 7rem;
    z-index: -5;
    top: 13.75em;
    float: left;
}
/* box h1 styling */
.box2 h1 {
    color: white;
    text-align: center;
    font-size: 1.5625em;
}

.box3 h1 {
    color: white;
    text-align: center;
    font-size: 1.15em;
    z-index: -2;
}
/* github styles */
.github img {
    width: 100%;
    height: 100%;
    max-width: 3.125em;
    max-height: 3.125em;
    position: absolute;
    left: 145px;
    top: 115px;
    float: left;
}

.tooltip1 {
    visibility: hidden;
    width: 120px;
    background-color: #333b3f;
    color: #fff;
    border-radius: 10px;
    text-align: center;

    position: absolute;
    top: 165px;
    left: 115px;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.github:hover .tooltip1 {
    visibility: visible;
    opacity: 1;
}
/* linkedin styles */
.linkedin img {
    width: 100%;
    height: 100%;
    max-width: 3.125em;
    max-height: 3.125em;
    position: absolute;
    left: 195px;
    top: 115px;
    float: left;
}

.tooltip2 {
    visibility: hidden;
    width: 125px;
    background-color: #333b3f;
    color: #fff;
    border-radius: 10px;
    text-align: center;

    position: absolute;
    top: 165px;
    left: 165px;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.linkedin:hover .tooltip2 {
    visibility: visible;
    opacity: 1;
}
/* name styles */
.name p {
    position: absolute;
    font-size: 3em;
    color: white;
    width: 100%;
    height: 100%;
    top: 10px;
    text-wrap: nowrap;
    text-align: center;
    left: 10%;
}
/* my picture style */
.myself img {
    width: 100%;
    height: 100%;
    max-width: 8em;
    max-height: 9em;
    border-radius: 55px;
    position: absolute;
    left: 2%;
    top: 13%;
    float: left;
}
/* about text styling */
.about p {
    position: absolute;
    font-size: 0.9375em;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    text-wrap: wrap;
}
/* skills styling */
.size {
    font-size: 1.25em;
    color: white;
    text-align: center;
    word-spacing: 15px;
    vertical-align: middle;
    top: 10px;
}

.fading {
    animation: left-to-right-fade-in 5s ease-in infinite alternate;
    mask-repeat: no-repeat;
  }
  
  @keyframes left-to-right-fade-in {
    0% {
      mask-size: 0%;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
    100% {
      mask-size: 250%;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
  }
/* mobile responsive styles */
  @media screen and (max-width: 800px) {
    .box1 .box2 .box3 {
        height: 21%;
        width: 100%;
    }
  }