body {
    background-color: black;
    width: 100%;
}

/* boxes styles */
.allBoxes {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    display: center;
    box-sizing: border-box;
}

.box1 {
    background-color: #212529;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 40px;
    border-color: #212529;
    max-width: 30rem;
    max-height: 12rem;
    z-index: -5;
    float: left;
}

.box2 {
    background-color: #212529;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    border-color: #212529;
    max-width: 30rem;
    max-height: 12rem;
    z-index: -5;
    left: 31.25rem;
    float: left;
}

.box3 {
    background-color: #212529;
    width: 100%;
    height: 100%; 
    max-width: 30rem;
    max-height: 7rem;
    position: absolute;
    border-radius: 40px;
    border-color: #212529;
    min-width: 20rem;
    min-height: 7rem;
    z-index: -5;
    top: 13.75em;
    float: left;
}
/* box h1 styling */
.box2 h1 {
    color: white;
    text-align: center;
    font-size: 1.5625em;
}

.box3 h1 {
    color: white;
    text-align: center;
    font-size: 1.15em;
    z-index: -2;
}
/* github styles */
.github img {
    width: 100%;
    height: 100%;
    max-width: 2.3em;
    max-height: 2.3em;
    position: absolute;
    left: 45px;
    top: 5px;
    z-index: 2;
}

#gitborder {
    border-radius: 40px;
    background-color: #333b3f;
    width: 200px;
    height: 50px;
    border-color: #333b3f;
    position: absolute;
    left: 30px;
    top: 125px;
    z-index: -1;
}

.github p {
    color: white;
    position: absolute;
    left: 85px;
    text-align: center;
}
/* linkedin styles */
.linkedin img {
    width: 100%;
    height: 100%;
    max-width: 2.3em;
    max-height: 2.3em;
    position: absolute;
    left: 40px;
    top: 5px;
    float: left;
    z-index: 2;
}

#linkedinborder {
    border-radius: 40px;
    background-color: #333b3f;
    width: 200px;
    height: 50px;
    border-color: #333b3f;
    position: absolute;
    left: 250px;
    top: 125px;
    z-index: -1;
}

.linkedin p {
    color: white;
    position: absolute;
    left: 80px;
    text-align: center;
}
/* name styles */
.name {
    position: absolute;
    font-size: 2.7em;
    color: white;
    text-wrap: nowrap;
    text-align: center;
    left: 130px;
    top: -20px;
}
/* my picture style */
.myself img {
    width: 100%;
    height: 100%;
    max-width: 7em;
    max-height: 7em;
    border-radius: 70px;
    position: absolute;
    left: 10px;
    top: 6px;
    float: left;
}

.dev {
    position: absolute;
    font-size: 1.1em;
    color: teal;
    left: 130px;
    top: 55px;
}
/* about text styling */
.about p {
    position: absolute;
    font-size: 0.9375em;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    text-wrap: wrap;
}
/* skills styling */
.size {
    font-size: 1.25em;
    color: white;
    text-align: center;
    word-spacing: 15px;
    vertical-align: middle;
    top: 10px;
}

.fading {
    animation: left-to-right-fade-in 5s ease-in infinite alternate;
    mask-repeat: no-repeat;
  }
  
  @keyframes left-to-right-fade-in {
    0% {
      mask-size: 0%;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
    100% {
      mask-size: 250%;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
  }
/* mobile responsive styles */
  @media screen and (max-width: 800px) {
    .box1 .box2 .box3 {
        height: 21%;
        width: 100%;
    }
  }